@import "tailwindcss";


/* @theme {
    --color-rabbit-red: oklch(60.61% 0.2249 31.67)
  } */
  /* "#ea2e0e" */

  @font-face {
    font-family: gilory;
    font-style: normal;
    src: url("/src/assets/fonts/Gilroy-Medium.ttf") ,
  }
  @font-face {
    font-family: boldgilory;
    src: url("/src/assets/fonts/Gilroy-ExtraBold.ttf"),
  }
  @font-face {
    font-family: iransans;
    src: url("/src/assets/fonts/IRANSansXFaNum-MediumD4.ttf"),
  }
#root{
    font-family: "inter",sans-serif,"boldgilory";
    font-optical-sizing: auto;
    font-style: normal;
}
#root{
  font-family: iransans;
}
.font-bold-gilory{
  font-family: boldgilory !important;
}
.font-gilory{
  font-family: gilory !important;
}
h1{
  /* font-family: boldgilory; */
  font-family: iransans;

}
h3,h5,li,p,a,div,th{
  font-family: iransans;
}
button{
  font-family: iransans;
}

.rtl{
  direction: rtl;
}